*.js filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
api/Dockerfile !text !filter !merge !diff
LICENSE !text !filter !merge !diff
clean-data !text !filter !merge !diff
api/app.py !text !filter !merge !diff
.gitignore !text !filter !merge !diff
clean-data/clean-data.js !text !filter !merge !diff
clean-data/package.json !text !filter !merge !diff
clean-data/yarn.lock !text !filter !merge !diff
